<p style="color: green"><%= notice %></p>

<div class="container mx-auto">
<table class="shadow-lg bg-white border-collapse">
  <tr>
    <th class="bg-blue-100 border text-left px-8 py-4"></th>
    <th class="bg-blue-100 border text-left px-8 py-4">Amount</th>
  </tr>
  <tr class="hover:bg-gray-50">
    <td class="border px-8 py-4">ingresos obtenidos mediante intermediarios entrega de bienes(bancario)</td>
    <td class="border px-8 py-4">Dante Sparks</td>
  </tr>
  <tr class="hover:bg-gray-50">
    <td class="border px-8 py-4">ingresos obtenidos mediante el usuario entrega de bienes(efectivo)</td>
    <td class="border px-8 py-4">Neal Garrison</td>
  </tr>
  <tr class="hover:bg-gray-50">
    <td class="border px-8 py-4">total de ingresos</td>
    <td class="border px-8 py-4">Maggie O'Neill</td>
  </tr>

  <tr class="hover:bg-gray-50">
    <td class="border px-8 py-4">tasa ISR %</td>
    <td class="border px-8 py-4">Maggie O'Neill</td>
  </tr>
  <tr class="hover:bg-gray-50">
    <td class="border px-8 py-4">ISR causado</td>
    <td class="border px-8 py-4">Maggie O'Neill</td>
  </tr>
  <tr class="hover:bg-gray-50">
    <td class="border px-8 py-4">retenciones x plataforma tecnologica</td>
    <td class="border px-8 py-4">Maggie O'Neill</td>
  </tr>
  <tr class="hover:bg-gray-50">
    <td class="border px-8 py-4">ISR a CARGO</td>
    <td class="border px-8 py-4">Maggie O'Neill</td>
  </tr>
  <tr class="hover:bg-gray-50">
    <td class="border px-8 py-4">tasa IVA %</td>
    <td class="border px-8 py-4">Maggie O'Neill</td>
  </tr>
  <tr class="hover:bg-gray-50">
    <td class="border px-8 py-4">IVA causado</td>
    <td class="border px-8 py-4">Maggie O'Neill</td>
  </tr>
  <tr class="hover:bg-gray-50">
    <td class="border px-8 py-4">IVA gastos acreditable</td>
    <td class="border px-8 py-4">Maggie O'Neill</td>
  </tr>
  <tr class="hover:bg-gray-50">
    <td class="border px-8 py-4">retencion x plataforma tecnologica</td>
    <td class="border px-8 py-4">Maggie O'Neill</td>
  </tr>
  <tr class="hover:bg-gray-50">
    <td class="border px-8 py-4">IVA del periodo a declarar</td>
    <td class="border px-8 py-4">Maggie O'Neill</td>
  </tr>
  <tr class="hover:bg-gray-50">
    <td class="border px-8 py-4">IVA periodos anteriores</td>
    <td class="border px-8 py-4">Maggie O'Neill</td>
  </tr>
  <tr class="hover:bg-gray-50">
    <td class="border px-8 py-4">IVA a cargo (a favor)</td>
    <td class="border px-8 py-4">Maggie O'Neill</td>
  </tr>
</table>
</div>