<div id="<%= dom_id income %>">
  <p>
    <strong>Date:</strong>
    <%= income.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= income.amount %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= income.note %>
  </p>

</div>
