<h1>Editing withheld tax</h1>

<%= render "form", withheld_tax: @withheld_tax %>

<br>

<div>
  <%= link_to "Show this withheld tax", @withheld_tax %> |
  <%= link_to "Back to withheld taxes", withheld_taxes_path %>
</div>
